.countries {
    padding: 1vh;
    font-size: x-large;

    h1 {
        margin-top: 5vh;
    }

    .single {
        padding: 2vh 16px;
        background: #fff;
        display: block;
        margin: 20px 10px;
        border-left: 8px solid #fff;
        text-transform: capitalize;
        color: black;
    
        &:hover {
            border-left: 8px solid green;
        }
      }
}

form {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
    input{
        padding: 1rem;
        width: 50%;
        border-radius: 10px;
        font-size: medium;
        border: 2px solid white;

        &:focus,
        &:active{
            border: 2px solid cadetblue;
            outline: cadetblue;
        }
    }
}