section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;

    h1 {
        font-size: xxx-large;
    }

    p {
        font-size: large;
    }

    h1, p {
        margin-bottom: 5vh;
    }

    a {
        text-decoration: none;
    }

    .btn {
        display: block;
        width: 150px;
        padding: 2vh 0;
        margin: 20px auto;
        background: #ffff;
        border: 2px solid green;
        border-radius: 4px;
        color: green;
        font-weight: bolder;
        text-align: center;
      }
      
      .btn:hover{
        background: green;
        color: white;
        transition: color 0.15s ease, background 0.55s ease;
      }
}

@media only screen and (max-width: 400px) {
    h1, p {
        text-align: center;
    }
}